<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <% unless user == current_user %>
        <li>
          Name: <%= user.name %>
          <span class="profile-link">
            <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
            <%= ask_friendship_or(current_user, user) %>
         </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
